[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "lib/midnight"]
	path = lib/midnight
	url = https://github.com/morpho-org/midnight
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/vault-v2"]
	path = lib/vault-v2
	url = https://github.com/morpho-org/vault-v2
[submodule "lib/metamorpho"]
	path = lib/metamorpho
	url = https://github.com/morpho-org/metamorpho
[submodule "lib/permit2"]
	path = lib/permit2
	url = git@github.com:Uniswap/permit2.git
